body{
    padding-top: 70px;
    height: 4000px;
}
/****************Start overriding Bootstrap *************************************/
/*Navbar Link */
.navbar {
    min-height: 70px;
}
.navbar-inverse .navbar-nav>li>a{
    color: #BBB;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}
/* Navbar Active Background */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #E41B17;
}

/* Navbar Brand */
.navbar-inverse .navbar-brand {
    color: #BBB;
    font-size: 30px;
    line-height: 40px;

}
.navbar-inverse .navbar-brand span{
    color: #E41B17;
}

/*DropDown Menu */
.dropdown-menu{
    background-color: #333;
    border-top: 3px solid #E41B17;
    min-width: 200px;
}
.dropdown-menu>li>a{
    color: #FFF;
    padding: 6px 20px;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
    background-color: #E41B17;
    color: #FFF;
    padding-left: 25px;
}
.dropdown-menu .divider{
    background-color: #871818;
}
.navbar-right .dropdown-menu{
    left: 0;
    right: auto;
}
/* Navbar Toggle */
.navbar-toggle{
    margin-top: 18px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}
/****************End overriding Bootstrap *************************************/

/* Start Slider */
.carousel-caption{
    bottom: 300px;
    background: rgba(3,3,3,0.2);
    padding-right: 25px;
    padding-left: 25px;
}
.carousel-indicators{
    /* bottom: 100px; */
}
.carousel-indicators li{
    width: 15px;
    height: 15px;
    border: 1px solid #EEE;
}
.carousel-indicators .active{
    width: 17px;
    height: 17px;
    background: #E41B17;
}
/* End Slider */

/* Start Section About */
.about {padding-top:60px;padding-bottom:60px}
.about h1{
    font-weight: bold;
}
.about h1 span{
    color: #E41B17;
}
.about .lead {color:#888;font-size:25px;margin-top:15px}

/* End Section About */

/* Start Section Features */

.features {background:#EEE}
.features h1{
    margin-bottom: 50px;
}
.features .feat {margin-bottom:30px}

.features .feat p {line-height:2em}

.features .feat span.glyphicon {font-size:25px;margin-bottom:10px;color:#666}

/* End Section Features */

/* Start Section Testimonials */
.testimonials{
    padding-top:50px;
    padding-bottom:50px;
}
.testimonials h1{
    font-weight: bold;
    margin-bottom: 20px;
}
.testimonials .lead{
    line-height: 2em;
    margin-bottom: 10px;
}
.testimonials span{
    font-size: 18px;
    font-weight: bold;
    color: #E41B17;
}
.testimonials .carousel-inner{
    min-height: 160px;
}
.testimonials .carousel-indicators {
    position: static;
    width: 100%;
    padding-top: 20px;
    margin-left: auto;

}
.testimonials .carousel-indicators li{
    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: 0.4;
    border: 3px solid #FFF;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.testimonials .carousel-indicators li.active{
    width: 80px;
    height: 80px;
    opacity: 1;
    background: none;
    border: 3px solid #E41B17;
}
.testimonials .carousel-indicators li img{
    max-width: 100%;
}
/* End Section Testimonials */

/* Start Section Price_box */
.price_table{
    background: #EEE;
    padding-top: 40px;
    padding-bottom: 40px;
}
.price_table h1{
    margin-bottom: 40px;
}
.price_table .price_box{
    background: #FFF;
    padding: 10px;
    border: 1px solid #DDD;
    margin-bottom: 15px;
}
.price_table .price_box:hover p{
    -webkit-transform:scale(1.1,1.1) rotate(360deg);
    -moz-transform:scale(1.1,1.1) rotate(360deg);
    -o-transform:scale(1.1,1.1) rotate(360deg);
    transform:scale(1.1,1.1) rotate(360deg);
    border: 2px solid #DFDFDF;
    

}
.price_table .price_box h2{
    margin: 5px 0 15px;
}
.price_table .price_box p{
    font-size: 35px;
    font-weight: bold;
    color: #666;
    width: 100px;
    height: 100px;
    background: #F3F3F3;
    border-radius: 50%;
    line-height: 100px;
    border: 2px solid #FFF;
    -webkit-transition-duration:0.7s;
    -moz-transition-duration:0.7s;
    -o-transition-duration:0.7s;
    transition-duration:0.7s;

}
.price_table .price_box ul{
    font-size: 18px;
    line-height: 250%;
}
.price_table .price_box a{
    margin-bottom: 5px;
}

/* Start Section Our Team */
.our_team{
    background:url(../images/team.gif) no-repeat center center fixed ;
    min-height: 600px;
    width: 100%;
}
.our_team .team_overlay{
    background: rgba(2,2,2,0.8);
    min-height: 600px;
    color: #FFF;
    padding-top: 40px;
    padding-bottom: 40px;
}